*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$font: 'Inter';


header{
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: $font;
    

    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        li{
            list-style: none;
            margin-right: 2rem;

            a{
                text-decoration: none;
                font-family: $font;
                color: #667085;
 
            }
        }
    }

    .login{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: 1rem;

        a{
            text-decoration: none;
            font-family: $font;
            color: #667085;
        }

        button{
            font-family: $font;
            background: #8E2424;
            color: #FFF;
            border: 0;
            outline: none;
            border-radius: 5px;
            padding: 10px 25px;
            transition: .1s ease-in;

            &:hover{
                cursor: pointer;
                background: #6f1d1d;
            }
        }
    }

    .svg{
       display: none;
    }

    @media screen and (max-width: 1024px){

        header{
            justify-content: space-between;
        }

        .svg{
            display: block;
            cursor: pointer;
            width: 35px;
        }

        nav, .login{
            display: none;
        }
    }

}


.about{
    height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;

    h5{
        font-family: $font;
        font-weight: 400;
        font-size: 16px;
        color: #8E2424;
    }

    h1{
        color: #101828;
        font-family: $font;
        font-weight: 600;
        font-size: 48px;

    }

    p{
        font-family: $font;
        font-size: 1.1rem;
        color: #667085;
        width: 700px;
        text-align: center;
        
    }
}


.statistics{

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 4rem 5rem;

    div{
        width: 270px;
        height: 250px;

        display: flex;
        flex-direction: column;
        align-items: flex-start ;
        flex-wrap: nowrap;
        justify-content: first baseline;

        h2{
            font-family: $font;
            color: #8E2424;
            font-size: 60px;

            margin-bottom: 1rem;
        }

        h5{
            color: #101828;
            font-family: $font;
            font-size: 18px;

            margin-bottom: 1rem;
        }

        p{
            color: #667085;
            font-family: $font;
            font-size: 16px;
        }
    }
}

.opportunitys
{

    display: flex;
    flex-direction: column;
    align-items: center;

    .content{
        height: 30vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        h5{
            font-family: $font;
            font-weight: 400;
            font-size: 16px;
            color: #8E2424;
        }

        h2{
            color: #101828;
            font-family: $font;
            font-weight: 600;
            font-size: 36px;
    
        }
    
        p{
            font-family: $font;
            font-size: 1.1rem;
            color: #667085;
            width: 700px;
            text-align: center;
            
        }
    }

    .vagas_conteiner{
        width: 71.5vw;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 0 0 3rem;

        .design{
            width: 500px;
            padding: 2rem 0 2rem 0;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            
            .vaga1, .vaga2{
                width: 500px;
                height: 70px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;

                h5{
                    font-family: $font;
                    color: #101828;
                    font-size: 18px;
                }

                div{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    font-family: $font;
                    color: #667085;
                    font-size: 16px;

                    p{
                        margin-right: 1rem;
                    }
                }
            }
        }

        .desen_software{
            width: 500px;
            padding: 2rem 0 2rem 0;
            display: flex;
            flex-direction: column;
            gap: 2rem;
            
            .vaga1, .vaga2, .vaga3{
                width: 500px;
                height: 70px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;

                h5{
                    font-family: $font;
                    color: #101828;
                    font-size: 18px;
                }

                div{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    font-family: $font;
                    color: #667085;
                    font-size: 16px;

                    p{
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
    
}

.comments{
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 4rem 5rem;

    .content{

        text-align: center;
        h5{
            font-family: $font;
            color: #8E2424;
            font-size: 14px;
            margin-bottom: 1rem;
        }

        p{
            font-family: $font;
            color: #101828;
            font-size: 36px;
            width: 71.5vw;
            text-align: center;
        }
    }

    .sx{
        display: flex;
        flex-direction: column;
        align-items: center;

        img{
            margin-bottom: 1rem;
        }

        h5{
            font-family: $font;
            color:#101828;
            font-size: 16px;
        }

        p{
            font-family: $font;
            font-size: 14px;
            color:#667085;
        }
    }
}

footer{
    height: 50vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .content{

        text-align: center;
        h5{
            font-family: $font;
            color: #101828;
            font-size: 36px;
            margin-bottom: 1rem;
        }

        p{
            font-family: $font;
            color: #667085;
            font-size: 20px;
        }
    }

    .register{
        input{
            width: 360px;
            height: 44px;
            border-radius: 8px;
            border: 1px solid #667085;
            outline: none;
            padding: 1rem;
            font-size: 1rem;
            color: #101828;
            font-family: $font;
            margin-right: 1rem;
        }

        button{
            background: #8E2424;
            color: #FFF;
            font-family: $font;
            padding: 12px 20px 12px 20px;
            border-radius: 8px;
            border: 0;
            outline: none;
            font-size: 16px;
            transition: .1s ease-in;

            &:hover{
                cursor: pointer;
                background: #6f1d1d;
            }
        }

    }

    p{
        color: #667085;
        font-family: $font;
        font-size: 16px;
    }
}